<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Dashboard</title>

	<style>
		.chart-container {
			position: relative;
			height: 300px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>Dashboard</h1>
		</div>
	</div>

	<div class="container-fluid">
		<!-- Primeira linha: Contadores básicos -->
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-glass"></i> Cervejas
						</h3>
					</div>
					<div class="panel-body">
						<h2 class="text-center" th:text="${totalCervejas}">0</h2>
						<p class="text-center">Total cadastradas</p>
					</div>
					<div class="panel-footer">
						<a th:href="@{/cervejas}" class="btn btn-block btn-default">
							Ver cervejas <i class="glyphicon glyphicon-chevron-right"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-user"></i> Clientes
						</h3>
					</div>
					<div class="panel-body">
						<h2 class="text-center" th:text="${totalClientes}">0</h2>
						<p class="text-center">Total cadastrados</p>
					</div>
					<div class="panel-footer">
						<a th:href="@{/clientes}" class="btn btn-block btn-default">
							Ver clientes <i class="glyphicon glyphicon-chevron-right"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-tag"></i> Estilos
						</h3>
					</div>
					<div class="panel-body">
						<h2 class="text-center" th:text="${totalEstilos}">0</h2>
						<p class="text-center">Total cadastrados</p>
					</div>
					<div class="panel-footer">
						<a th:href="@{/estilos}" class="btn btn-block btn-default">
							Ver estilos <i class="glyphicon glyphicon-chevron-right"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-shopping-cart"></i> Vendas
						</h3>
					</div>
					<div class="panel-body">
						<h2 class="text-center" th:text="${#numbers.formatCurrency(valorTotalMes)}">R$ 0,00</h2>
						<p class="text-center">Total no mês</p>
					</div>
					<div class="panel-footer">
						<a th:href="@{/vendas}" class="btn btn-block btn-default">
							Ver vendas <i class="glyphicon glyphicon-chevron-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Segunda linha: Métricas de vendas -->
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-stats"></i> Total de Vendas no Ano
						</h3>
					</div>
					<div class="panel-body">
						<h2 class="text-center text-success" th:text="${#numbers.formatCurrency(valorTotalAno)}">R$ 0,00</h2>
						<p class="text-center text-muted">Vendas emitidas em <span th:text="${#dates.year(#dates.createNow())}">2024</span></p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-usd"></i> Ticket Médio no Ano
						</h3>
					</div>
					<div class="panel-body">
						<h2 class="text-center text-primary" th:text="${#numbers.formatCurrency(ticketMedio)}">R$ 0,00</h2>
						<p class="text-center text-muted">Valor médio por venda</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Terceira linha: Gráficos -->
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-signal"></i> Vendas por Mês (Últimos 6 Meses)
						</h3>
					</div>
					<div class="panel-body">
						<div class="chart-container">
							<canvas id="graficoVendasPorMes"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-globe"></i> Vendas por Origem
						</h3>
					</div>
					<div class="panel-body">
						<div class="chart-container">
							<canvas id="graficoVendasPorOrigem"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/javascripts/vendors/chart.min.js}"></script>
	<script th:src="@{/javascripts/dashboard.graficos.js}"></script>
</section>
</body>
</html>